Assignment: Week-1

Q1

In [2]:
a=7.3
b=5+4j
print(a+b)

(12.3+4j)

In [3]:
a=4e4
b=4E4
a==b

True

In [9]:
import cmath
c=3+5j
r=c.real
i=c.imag
print(r,i)

3.0 5.0

In [16]:
import numpy as np
import math
a=np.exp(1)
b=math.trunc(a)
b

2

Q2

In [19]:
def dictionary_function(d):
  for x in d:
    print("key:", x, "value:" ,d[x])

In [20]:
d={'a':1,'b':2,'c':3,'d':4}
dictionary_function(d)

key: a value: 1
key: b value: 2
key: c value: 3
key: d value: 4

Q3

In [24]:
val=input("enter a number")
a=int(val)
factorial=1
if a==0:
  print('The factorial of 0 is 1 ')
elif a < 0:
  print("No factorial exists for given number")
elif a>0:
  for x in range(1,a+1):
    factorial=factorial*x
  print("factorial of the given number is {}".format(factorial))

enter a number12
factorial of the given number is 479001600

Q4

In [32]:
x=input("Enter a number")
a=int(x)
def Fibonacci(a):
  if a<0:
    return("Incorrect input")
  elif a==0:
    return 0
  elif a==1 or a==2:
    return 1
  elif a >0:
    return Fibonacci(a-1) + Fibonacci(a-2)
Fibonacci(a)

Enter a number23

28657

Q5

In [38]:
import numpy as np
a=np.array([1,2,3,4,-5,-75,-3])
b=0
c=0
for x in a:
  if x>0:
    b=b+x

    
  elif x<0:
    c=c+x
print(b)
print(c)
if b> abs(c):
  print("Positive")
else:
  print("Negative")

10
-83
Negative

Q6

In [46]:
a='nucdeuvbdmoclma/a'
l1=[]
l2=[]
for x in a:
  if x=='a' or x=='e' or x=='i' or x=='o' or x=='u':
    l1.append(x)
  else:
    l2.append(x)
vowels=''
consonants=''
for b in l1:
  vowels+=b
for c in l2:
  consonants+=c
print(vowels+consonants)

ueuoaancdvbdmclm

Q7

In [54]:
# finding first 10 multiples of 20
def multiple(m,n):
  a=range(n,(m*n)+1,n)
  print(*a)

In [55]:
multiple(10,20)

20 40 60 80 100 120 140 160 180 200